
/* Page Styles
================================ */

body {
	font: normal 1.1em/1.5 sans-serif;
	color: #222;
	background-color: #edeff0;
}

.main-wrapper{
    width: 90%;
    margin: auto;
}

*{
    box-sizing: border-box;
}
/* Layout Element Colors
================================ */

.main-header       { background-color: #384047; }
.main-logo         { background-color: #5fcf80; }
.main-nav li       { background-color: #3f8abf; }
.primary-content   { background-color: #caebf6; }
.secondary-content { background-color: #bfe3d0; }
.main-footer       { background-color: #b7c0c7; }

/* Header, Banner and Footer Layout
================================ */
.main-header{
    padding: 20px;
    display: table;
    width: 100%;
    min-height: 150px;
    
}

.main-logo,
.main-nav{
    display: table-cell;
    vertical-align: middle;
}


.main-logo,.main-nav li{    
    
    border-radius: 5px;
}

.main-logo{
    
    width: 120px;
    text-align: center;
}


.main-nav{
    margin-left: 30px;
    padding-left: 50px;
}

.main-nav li{
    padding: 10px;
    border-radius: 5px;
    margin-right: 5px;
    margin-bottom: 5px;
    
}

.main-logo a, 
.main-nav a {
	color: white;
	text-decoration: none;
    display: block;
    padding: 10px 12px;
    
}

p{
  font-size: 30px;
  width:90%;
  display:block;
  font-weight:bold;
  margin:auto;
  text-align:center;
  padding:20px;
  
}

/* Media Queries
================================ */

@media (max-width:768px){
    .main-logo,
    .main-nav,
    .main-nav li{
        
        display: block;
        width: initial;
        margin: initial;
        
    }
    
    .main-nav{
        padding-left: initial;
    }
    
    .main-nav li{
        margin-top: 15px;
    }

}